#include "Generated.xcconfig"
OTHER_LDFLAGS = $(inherited) -Wl,-force_load,$(SRCROOT)/../native/ocr/build-ios/libzh_ocr_all.a -Wl,-force_load,$(SRCROOT)/../native/speech/build-ios/libzh_speech_all.a -Wl,-u,_zh_ocr_create -Wl,-u,_zh_ocr_destroy -Wl,-u,_zh_ocr_recognize_rgba -Wl,-u,_zh_speech_tts_create -Wl,-u,_zh_speech_tts_destroy -Wl,-u,_zh_speech_tts_synthesize_wav -Wl,-u,_zh_speech_asr_create -Wl,-u,_zh_speech_asr_destroy -Wl,-u,_zh_speech_asr_recognize_wav
